.b-form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background: #F9F9F9;
    box-shadow: 0 2px 10px #C2C2C2;
    border: 1px solid #C2C2C2;
    border-radius: .5rem;
    padding: 1rem;
    max-width: max-content;
    max-height: max-content;
}

.b-form__input-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.b-form__input {
    margin-bottom: 2rem;
    max-width: 100%;
}

.b-form__label {
    display: block;
}

.b-form__input_invalid {
    margin-bottom: 2rem;
    border: 1px solid red;
}

.b-form__label_invalid {
    color: red;
    margin: -2rem 0 1rem 0;
}

