.b-article {
    max-width: 40rem;
    margin: 0 auto;
}

.b-article__content {
    line-height: 1.618;
    margin: 2rem 0;
}

.b-article__header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}