.b-article {
    display:flex;
    flex-flow: column wrap;
    width: 100%;
    max-width: 40rem;
}

.b-article__content {
    width: 100%;
    margin: 2rem 0;
    line-height: 1.618;
    overflow-wrap: break-word;
}

.b-article__header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}